<aside class="w-64 h-screen fixed top-0 left-0 z-40 pt-14 border-r border-gray-200">
    <div class="h-full px-3 py-4 overflow-y-auto bg-gray-800">
        <ul class="space-y-2 font-medium">
            <li>
                <!-- Dashboard -->
                <a routerLink="/dashboard" class="flex items-center p-2 text-gray-50 rounded-lg">
                    <!-- Icon -->
                    <svg aria-hidden="true" class="w-6 h-6 text-gray-400 group-hover:text-gray-900" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M2 10a8 8 0 018-8v8h8a8 8 0 11-16 0z"></path><path d="M12 2.252A8.014 8.014 0 0117.748 8H12V2.252z"></path></svg>
                    <!-- Link -->
                    <span class="ml-3">Dashboard</span>
                </a>
            </li>
            <li>
                <!-- Articles -->
                <a routerLink="/articles" class="flex items-center p-2 text-gray-50 rounded-lg">
                    <!-- Icon -->
                    <svg aria-hidden="true" class="w-6 h-6 text-gray-400 group-hover:text-gray-900" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path clip-rule="evenodd" d="M7.5 6v.75H5.513c-.96 0-1.764.724-1.865 1.679l-1.263 12A1.875 1.875 0 004.25 22.5h15.5a1.875 1.875 0 001.865-2.071l-1.263-12a1.875 1.875 0 00-1.865-1.679H16.5V6a4.5 4.5 0 10-9 0zM12 3a3 3 0 00-3 3v.75h6V6a3 3 0 00-3-3zm-3 8.25a3 3 0 106 0v-.75a.75.75 0 011.5 0v.75a4.5 4.5 0 11-9 0v-.75a.75.75 0 011.5 0v.75z" fill-rule="evenodd"></path></svg>
                    <!-- Link -->
                    <span class="ml-3">Articles</span>
                </a>
            </li>
            <li>
                <!-- Clients -->
                <a routerLink="/clients" class="flex items-center p-2 text-gray-50 rounded-lg">
                    <!-- Icon -->
                    <svg aria-hidden="true" class="w-6 h-6 text-gray-400 group-hover:text-gray-900" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path clip-rule="evenodd" d="M8.25 6.75a3.75 3.75 0 117.5 0 3.75 3.75 0 01-7.5 0zM15.75 9.75a3 3 0 116 0 3 3 0 01-6 0zM2.25 9.75a3 3 0 116 0 3 3 0 01-6 0zM6.31 15.117A6.745 6.745 0 0112 12a6.745 6.745 0 016.709 7.498.75.75 0 01-.372.568A12.696 12.696 0 0112 21.75c-2.305 0-4.47-.612-6.337-1.684a.75.75 0 01-.372-.568 6.787 6.787 0 011.019-4.38z" fill-rule="evenodd"></path><path d="M5.082 14.254a8.287 8.287 0 00-1.308 5.135 9.687 9.687 0 01-1.764-.44l-.115-.04a.563.563 0 01-.373-.487l-.01-.121a3.75 3.75 0 013.57-4.047zM20.226 19.389a8.287 8.287 0 00-1.308-5.135 3.75 3.75 0 013.57 4.047l-.01.121a.563.563 0 01-.373.486l-.115.04c-.567.2-1.156.349-1.764.441z"></path></svg>
                    <!-- Link -->
                    <span class="ml-3">Clients</span>
                </a>
            </li>
            <li>
                <!-- Orders -->
                <a href="#" class="flex items-center p-2 text-gray-50 rounded-lg">
                    <!-- Icon -->
                    <svg aria-hidden="true" class="w-6 h-6 text-gray-400 group-hover:text-gray-900" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M5.625 1.5c-1.036 0-1.875.84-1.875 1.875v17.25c0 1.035.84 1.875 1.875 1.875h12.75c1.035 0 1.875-.84 1.875-1.875V12.75A3.75 3.75 0 0016.5 9h-1.875a1.875 1.875 0 01-1.875-1.875V5.25A3.75 3.75 0 009 1.5H5.625z"></path><path d="M12.971 1.816A5.23 5.23 0 0114.25 5.25v1.875c0 .207.168.375.375.375H16.5a5.23 5.23 0 013.434 1.279 9.768 9.768 0 00-6.963-6.963z"></path></svg>
                    <!-- Link -->
                    <span class="ml-3">Orders</span>
                </a>
            </li>
        </ul>

    </div>
</aside>