<aside [class.hidden]="!sideNavState" class="w-64 h-screen border-r border-gray-600 fixed top-0 left-0 z-40 md:block pt-14 transition-all duration-300">
    <div class="h-full px-3 py-4 overflow-y-auto bg-gray-800">
        <ul class="space-y-2 font-medium">
            <li *ngFor=" let item of navItems; let i = index">
                <!-- Title -->
                <a [routerLink]="item.subMenu ? null : item.link" (click)="item.subMenu ? collapseToggle(i) : closeSideNav()" class="cursor-pointer flex items-center p-2 w-full text-gray-50 rounded-lg transition duration-75 hover:bg-gray-700">
                    <!-- Icon -->
                    <svg aria-hidden="true" class="w-6 h-6 text-gray-400 group-hover:text-gray-900" fill="currentColor"  xmlns="http://www.w3.org/2000/svg">
                        <use [attr.xlink:href]="item.icon"></use>
                    </svg> 
                    <!-- Link -->
                    <span class="flex-1 text-left ml-4">{{item.title}}</span>
                    <!-- Arrow Icon -->
                    <svg *ngIf="item.subMenu" aria-hidden="true" class="w-6 h-6 text-gray-400 group-hover:text-gray-900" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path clip-rule="evenodd" d="M12.53 16.28a.75.75 0 01-1.06 0l-7.5-7.5a.75.75 0 011.06-1.06L12 14.69l6.97-6.97a.75.75 0 111.06 1.06l-7.5 7.5z" fill-rule="evenodd"></path></svg>
                </a>
                <ul *ngIf="item.toggle" class="py-2 space-y-2">
                    <!-- Options -->
                    <li *ngFor=" let subItem of item.submenuItems; let j = index">
                        <a routerLink="/articles" (click)="closeSideNav()" class="flex items-center p-2 pl-12 w-full text-gray-50 rounded-lg transition duration-75 hover:bg-gray-700">{{subItem.title}}</a>
                    </li>
                    
                </ul>
            </li>
        </ul>
    </div>
</aside>
<!-- Backdrop -->
<div [class.hidden]="!sideNavState" [class.md:hidden]="desktop" (click)="closeSideNav()" class="opacity-25 fixed inset-0 bg-black"></div>
