<!-- Card -->
<div class="w-full max-w-sm bg-white border border-gray-100 rounded-lg shadow">
    <!-- Image -->
    <a href="#">
        <img class="p-8 rounded-t-lg" src="https://m.media-amazon.com/images/I/4185xXNq+XL.jpg" alt="product image" />
    </a>
    <!-- Card Body -->
    <div class="px-5 pb-5">
        <!-- Title -->
        <a href="#">
            <h5 class="text-xl font-medium text-gray-700 tracking-tight">
                Amazon Shoes, Black, Comfortable
            </h5>
        </a>
        <!-- Badge -->
        <div class="flex items-center mt-2 mb-5">
            <span class="bg-blue-100 text-blue-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded">5.0</span>
        </div>
        <!-- CTA -->
        <div class="flex items-center justify-between">
            <!-- Price -->
            <span class="text-3xl font-bold text-gray-700">$150.00</span>
            <!-- Button -->
            <button class="text-gray-50 bg-gray-700 hover:bg-gray-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Add to cart</button>
        </div>
    </div>
</div>

<!-- https://www.jiomart.com/images/product/original/rvrgwpjvsp/bruton-trendy-sports-shoes-for-men-blue-product-images-rvrgwpjvsp-0-202209021256.jpg -->